[contenteditable]:focus {
    outline: 0px solid transparent;
}

.main {
    margin: 1em auto;
    max-width: 32em;
}

a {
    /* border-bottom: 0.5px solid #0000FF;*/
    color: #0000FF; 
    text-decoration: none;
}

.main, textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3rem;
    line-height: 1.3;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

code {
    font-size: 70%;
    line-height: 70%;
}

.fr {
    float: right;
}

.icons {
    float: right;
    position: fixed;
    top: 1em;
    right: 1em;
    display:none;
}

#editlink:hover {
    cursor: pointer;
}

@media screen and (min-width: 0em) and (max-width: 30em) {
    textarea,.main {
        font-size: 1.1rem;
    }
    .main {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    textarea,.main {
        font-size: 1.2rem;
    }
    .main {
        margin-left: 1em;
        margin-right: 1em;
    }
}