[contenteditable]:focus {
    outline: 0px solid transparent;
}

.main {
    font-family: "Times New Roman", Times, serif;
    margin: 1em auto;
    font-size: 1.3rem;
    max-width: 32em;
    line-height: 1.3;
}

a {
    border-bottom: 0.5px solid #0000FF;
    color: #0000FF;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

code {
    font-size: 70%;
    line-height: 70%;
}

.fr {
    float: right;
}

#editlink:hover {
    cursor: pointer;
}

@media screen and (min-width: 0em) and (max-width: 30em) {
    .main {
        font-size: 1.1rem;
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .main {
        font-size: 1.2rem;
        margin-left: 1em;
        margin-right: 1em;
    }
}