[contenteditable]:focus {
    outline: 0px solid transparent;
}

body {
    background: rgb(253, 253, 253);
}

.main {
    margin: 1em auto;
    max-width: 32em;
}

a {
    /* border-bottom: 0.5px solid #0000FF;*/
    color: #0000FF;
    text-decoration: none;
}

.main,
textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3rem;
    line-height: 1.3;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    overflow: hidden;
}

li {
    line-height: 140%;
}

.smaller {
    font-size: 70%;
}

.grayed {
    color: #aaa;
    text-align: right;
    padding-top: 3em;
}

a.grayed {
    border-bottom: 0.5px solid #aaa;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

code {
    font-size: 90%;
    font-family: "Courier New", Courier, monospace;
}

.fr {
    float: right;
}

.icons {
    float: right;
    position: fixed;
    top: 1em;
    right: 1em;
    display: none;
}

#editlink:hover {
    cursor: pointer;
}

@media screen and (min-width: 0em) and (max-width: 30em) {
    textarea,
    .main {
        font-size: 1.1rem;
    }
    .main {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    textarea,
    .main {
        font-size: 1.2rem;
    }
    .main {
        margin-left: 1em;
        margin-right: 1em;
    }
}

/* 
snackbar */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

img {
    width: 100%;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}