<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/cowyo2.css">
</head>

<body>
    <div class="main" id="rendered">
        {{.Rendered}}
    </div>
    <pre class="main" contenteditable="false" id="editable" style="-webkit-user-select:text;display:none;" autofocus>{{.File.Data}}
</pre>
    <script>
        window.cowyo2 = {
            file_id: "{{.File.ID}}",
            intro_text: "{{.IntroText}}"
        }
    </script>
    <script src="/static/js/cowyo2.js"></script>
</body>

</html>