{{template "header" .}}
<div class="main" class="fonty">
    <span class="fr">
        <a href="/{{.Domain}}">Back</a>
        <br>{{ if .SignedIn}}
        <a href='/{{.Domain}}/{{.RandomUUID}}?edit=1' class='fr'>New page</a>{{end}}</span>
    <h1>{{.NumResults}} results for '{{.Search}}'</h1>
    <p>Currently in the <strong>{{.Domain}}</strong> domain.</p>
    {{range .Files}}
    <p>
        <a href="/{{$.Domain}}/{{.ID}}">{{.Slug}}</a>
        <small class="grey">{{ if $.RWTxtConfig.OrderByCreated}}{{.Created.Format "Jan 2 3:04pm 2006"}}{{else}}{{.Modified.Format "Jan 2 3:04pm 2006"}}{{end}}</small>
        
        <blockquote><em>{{.DataHTML}}</em></blockquote>
    </p>
    {{end}}
</div>
{{template "footer" .}}