{{template "header" .}}
<main>
	<div class="fr">
	{{ if .SignedIn }}<a href='/{{.Domain}}/{{.RandomUUID}}' class='fr'>Write</a><br>{{end}}
	Log <a onclick="document.getElementById('id01').style.display='block'">in</a>{{ if gt (len .DomainList) 1 }} / <a href="/logout?d={{.Domain}}">out</a>{{end}}
	<br>
	</div>
	
	{{with .Message}}
	<p style="color:red;"><em>{{.}}</em></p>
	{{end}}

	<h1>
		{{if eq .Domain "public"}}
			Welcome
		{{else}}
			{{ if .Options.CustomTitle }}
				{{ .Options.CustomTitle }}
			{{ else }}
				{{.Domain}}
			{{ end }}
		{{end}}
	</h1>
	
	<!-- intro text -->

	{{if and (eq .Domain "public") (not .PrivateEnvironment)}}
	<p>This is <em><a href="/rwtxt/about">rwtxt</a></em>, a space for <em>reading and writing text</em> which you can use	as a blog, a pastebin, or a notepad.
	</p>
	{{end}}


	<p>
		
		{{ if .Options.CustomIntro }}
			{{.CustomIntro}}
		{{ else }}
		This is the <strong>{{.Domain}}</strong> domain, each page will begin with <code>/{{.Domain}}</code>.
		{{ end }}
	{{if .DomainExists}}
		{{ if .Options.CustomIntro }}{{else}}
			{{if eq .Domain "public"}}
				Anyone can view, edit, or <a href="/{{.Domain}}/{{.RandomUUID}}">create a page</a>. 
				If you want to keep reading and writing to yourself, then you can <a onclick="document.getElementById('id01').style.display='block'">login to your own domain</a>.
			{{else}}
				{{ if .SignedIn}}
					Only you can edit pages, since you are are logged in (log out <a href="/logout?d={{.Domain}}">here</a>). 
					{{if .DomainIsPrivate}}
						Only you can view pages, since your domain is private.
					{{else}}
						Anyone can view pages, since your domain is public.
					{{end}}
				{{else}}
					You are not logged in and cannot edit {{ if .DomainIsPrivate}} or view {{end}}pages. <a href="/public">Go back </a> to the public domain.
				{{end}}
			{{end}}
		{{end}}
	</p>
		{{ if .Options.CustomIntro }}{{else}}
			{{ if gt (len .DomainList) 1 }}
			<p>You are currently signed into {{ range $index, $element := .DomainList}}{{if $index}}, {{end}}<a href="/{{$element}}">{{$element}}</a>{{end}} domains. You can still <a onclick="document.getElementById('id01').style.display='block'">log in</a> to other domains.</p>
			{{ end}}
		{{end}}

	{{ if and (or (not .DomainIsPrivate) (.SignedIn)) (or (ne .Domain "public") (.PrivateEnvironment)) }}
		{{ if .Options.ShowSearch}}
		<form action="/{{.Domain}}" method="get">
			<input type="text" name="q" value="" size="35" placeholder="Search domain...">
			<input class="button1" type="submit" value="Search">
		</form>
		{{ end }}


	{{ if .AllFiles }}
		<div class="list">
			<div>
				<div>
						<h2>Posts</h2>
				</div>
				<div class="keeplow">
						Created
				</div>
			</div>
			{{range .AllFiles}}
			<div>
				<div>
						<a href="/{{$.Domain}}/{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{.Slug}}{{end}}">{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{replace .Slug "-" " "}}{{end}}</a>
				</div>
				<div>
						{{.CreatedDate $.UTCOffset }}
				</div>
			</div>
			{{end}}
		</div>
	{{end}}

	{{ if .Files }}

	<div class="list">
		<div>
			<div>
				<h2>Most recent <small>(<a href="/{{.Domain}}/list">all posts</a>)</small></h2>
			</div>
			<div  class="keeplow">
					Last modified
			</div>
		</div>
		{{range .Files}}
		<div>
			<div>
					<a href="/{{$.Domain}}/{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{.Slug}}{{end}}">{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{replace .Slug "-" " "}}{{end}}</a>
			</div>
			<div>
					{{.ModifiedDate $.UTCOffset }}
			</div>
		</div>
		{{end}}
	</div>
	{{end}}
	
	{{ if .MostActiveList }}
	
	<div class="list">
			<div>
					<div>
							<h2>Most edited</h2>
					</div>
					<div  class="keeplow">
							Last modified
					</div>
			</div>
			{{range .MostActiveList}}
			<div>
				<div>
						<a href="/{{$.Domain}}/{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{.Slug}}{{end}}">{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{replace .Slug "-" " "}}{{end}}</a>
				</div>
				<div>
						{{.ModifiedDate $.UTCOffset }}
				</div>
			</div>
			{{end}}
	</div>
	{{end}}

	{{end}}
	{{ if and (.SignedIn) (ne .Domain "public")}}
	<br>
	<details>
	<summary>Options</summary>
		  <form action="/update" method="post">
			<input type="checkbox" name="ispublic" {{if not .DomainIsPrivate}}checked{{end}}> Make domain public <small>(your posts appear on public page and are searchable)</small><br>
			<input type="checkbox" name="showsearch" {{if .Options.ShowSearch}}checked{{end}}> Show search box<br>
			# of recently created to show: <input type="number" name="created" min="0" max="1000" style=" width: 5em;" value="{{.Options.LastCreated}}"><br>
			# of recently edited to show: <input type="number" name="recent" min="0" max="1000" style=" width: 5em;" value="{{.Options.MostRecent}}"><br>
			# of most edited to show: <input type="number" name="edited" min="0" max="1000" style=" width: 5em;" value="{{.Options.MostEdited}}"><br>			
			Custom title: <input type="text" name="title" value="{{.Options.CustomTitle}}"><br>
			Custom Intro:<br>
			<textarea name="intro" rows="4" cols="50">{{.Options.CustomIntro}}</textarea><br>
			Custom CSS:<br>
			<textarea name="css" rows="4" cols="50">{{.Options.CSS}}</textarea> 
			<input type="password" name="password" value="" placeholder="Update password">
		  <input type="text" name="domain_key" value="{{.DomainKey}}" style="display:none;">
		  <input type="text" name="domain" value="{{.Domain}}" style="display:none;">
		  <input class="button1" type="submit" value="Submit">
		  </form>
	<a href="/{{.Domain}}/export" target="_blank">Download data</a>.
	</details>
	{{ end}}

	{{else}}
	This domain does not yet exist. You can <a onclick="document.getElementById('id01').style.display='block'">create it</a>.</p>{{end}}




	{{ if .ShowCookieMessage}}
	<small>
	<p>This site uses <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a>. By using this site you agree to the use of cookies.</p>
	</small>
	{{ end }}
</main>

<div id="id01" class="modal">
  
	<form class="modal-content animate" action="/login" method="post">
	  <div class="imgcontainer">
		<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
		<!-- <img src="/static/img/logo.png" alt="Avatar" class="avatar"> -->
	  </div>
  
	  <div class="container">
		<label for="domain"><b>Domain</b></label>
		<input class="login" type="text" placeholder="Enter Domain" name="domain" {{ if and (not .SignedIn) (ne .Domain "public") }}{{.DomainValue}}{{end}} required>
  
		<label for="password"><b>Password</b></label>
		<input class="login" type="password" placeholder="Enter Password" name="password" required>
		  
		<button type="submit">Login</button>
	  </div>
  
	  <div class="container" style="background-color:#f1f1f1">
		<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
	  </div>
	</form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}
</script>



	
{{template "footer" .}}
