{{template "header" .}}
<div class="main" class="fonty">
	{{ if .SignedIn}}
	<a href='/{{.Domain}}/{{.RandomUUID}}' class='fr'>New page</a>
	{{end}}
	{{with .Message}}
	<p style="color:red;"><em>{{.}}</em></p>
	{{end}}

	<h1>Welcome</h1>
	<p>This is <em>rwtxt</em>, a space for <em>reading and writing text</em>. <em>rwtxt</em> can be used
	as a blog, a pastebin, a notepad.
	</p>

	<p>This is the <strong>{{.Domain}}</strong> domain, each page will begin with <code>/{{.Domain}}/</code>.
	
	{{if .DomainExists}}
	{{if eq .Domain "public"}}Anyone can view and edit these pages. To keep content to yourself, create a domain (below).{{else}}{{ if .SignedIn}}Anyone
		can view these pages. Only you can edit pages, since you are are logged in (log out
		<a href="/logout?d={{.Domain}}">here</a>). {{else}}You are not logged in and cannot edit pages.{{end}}{{end}}</p>

		{{ if .SignedIn}}
		<p>
		<h2>Recent pages</h2>
		<ul>
			{{range .Files}}
			<li>
				<small>{{.Modified.Format "Mon Jan 2 2006"}}</small>
				<a href="/{{$.Domain}}/{{.ID}}">{{if eq (len .Slug) 0}}{{.ID}}{{else}}{{.Slug}}{{end}}</a>
			</li>
			{{end}}
		</ul>
	</p>
	<p>
	<h2>Search</h2>
			<form action="/{{.Domain}}" method="get">
				<input type="text" name="q" value="" size="35">
				<input type="submit" value="Search">
			</form>
		</p>
	{{end}}
	{{else}}
	This domain does not yet exist. You can create it below.</p>{{end}}


	<p>
			{{if eq .Domain "public"}}
				<h2>Create domain</h2>
				<p>Creating a domain allows you to make new posts that only you can edit (but anyone can view if they have the link).</p>
			{{ else }}
				{{if .DomainExists}}
					{{ if .SignedIn}}
					<h2>Create another domain</h2>
					{{ else }}
					<h2>Log in</h2>
					<p>You can view pages without logging in, but you cannot edit unless you log in first.</p>
					{{ end }}
				{{ else }}
					<h2>Create domain</h2>
					<p>Creating a domain allows you to make new posts that only you can edit (but anyone can view).</p>		
				{{end}}
			{{end}}
		<form action="/login" method="post">
			<input type="text" name="domain" value="" placeholder="Enter domain name..." size="20">
			<input name="key" value="" type="password" placeholder="Enter a key..." size="20">
			<input type="submit" value="Submit">
		</form>
	</p>


	{{ if .ShowCookieMessage}}
	<h2>Cookies</h2>
	<p>This site uses cookies. By using this site you agree to the use of cookies.</p>

	<p><strong>What Are Cookies</strong></p>
	
	<p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>
	
	<p>For more general information on cookies see the Wikipedia article on HTTP Cookies.</p>
	
	<p><strong>How We Use Cookies</strong></p>
	
	<p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>
	
	<p><strong>Disabling Cookies</strong></p>
	
	<p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p>
	
	
	<p><strong>The Cookies We Set</strong></p>
	
	<ul>
	<li>
		<p>Site preferences cookies</p>
		<p>In order to provide you with a great experience on this site we provide the functionality to set your preferences for how this site runs when you use it. In order to remember your preferences we need to set cookies so that this information can be called whenever you interact with a page is affected by your preferences.</p>
	</li>
	
	</ul>
	
	{{ end }}
</div>
{{template "footer" .}}
