{{template "header" .}}
<main>
<span id="saved" class="icons">✔</span>
<span id="notsaved" class="icons">❌</span>
<span id="connectedicon" class="icons">🔗</span>
{{ if not .EditOnly }}
<div class="fonty" id="rendered">
    <span class="fr"><a href="/{{.Domain}}">Back</a><br>
        {{ if or (.SignedIn) (eq .Domain "public")}}<a id='editlink'>Edit</a>{{end}}
    
    </span>
        

    {{.Rendered}}

    <div class="grayed smaller">
        <br><br><br>
        <details>
            <summary>{{.File.ModifiedDate .UTCOffset }}</summary>
                    <a href="/{{.Domain}}/{{.File.ID}}?raw=1" class="grayed">/{{.Domain}}/{{.File.ID}}</a><br>
                {{.File.Views}} views<br>
                <!-- {{ if (eq .Domain "public") }}{{else}}{{ if .SimilarFiles}}
                    {{ range .SimilarFiles }}<a href="/{{$.Domain}}/{{.ID}}" class="grayed">{{.Slug}}</a><br> {{end}}
                {{end}}{{end}} -->
        </details>

    </div>
</div>
{{ end }}
<form id="dropzoneForm" action="/upload?domain={{.Domain}}" class="dropzone">
<textarea class="writing" id="editable" style="-webkit-user-select:text;{{if not .EditOnly}}display:none;{{end}}" rows={{ .Rows }} placeholder="Click here and start writing" autofocus>{{.File.Data}}</textarea>
</form>
</main>
{{ if (eq .Domain "public") }}
<div id="snackbar">Write markdown, reload page when you are done!</div>
{{ end }}

<script>
    window.rwtxt = {
        file_id: "{{.File.ID}}",
        intro_text: "{{.IntroText}}",
        domain_key: "{{.DomainKey}}",
        domain: "{{.Domain}}",
        editonly: {{ if .EditOnly }}"yes"{{else}}"no"{{end}}
    }
</script>

{{if .DomainKey}}<script src="/static/js/dropzone.js"></script>{{end}}
{{ if .Languages }}<script src="/prism.js?l={{ range $index, $element := .Languages}}{{if $index}},{{end}}{{$element}}{{end}}"></script>{{end}}
<script src="/static/js/rwtxt.js"></script>


{{ if .EditOnly }}
<script>
     document.getElementById("editable").focus();
</script>
{{ end}}

{{template "footer" .}}
