{{template "header" .}}
<div class="main">
<span id="saved" class="icons">✔</span>
<span id="notsaved" class="icons">❌</span>
<div class="fonty" id="rendered">
    <span class="fr"><a href="/{{.Domain}}">Back</a><br>
        {{if .SignedIn}}<a id='editlink'>Edit</a>{{end}}</span>
        

    {{.Rendered}}
</div>
<form id="dropzoneForm" action="/upload?domain={{.Domain}}" class="dropzone">
<textarea class="fonty" id="editable" style="-webkit-user-select:text;display:none;" rows={{ .Rows }} autofocus>{{.File.Data}}</textarea>
</form>
</div>
<div id="snackbar">Write markdown, reload page when you are done!</div>

<script>
    window.rwio = {
        file_id: "{{.File.ID}}",
        intro_text: "{{.IntroText}}",
        domain_key: "{{.DomainKey}}",
        domain: "{{.Domain}}",
    }
</script>
<script src="/static/js/rwio.js"></script>

<script src="/static/js/dropzone.js"></script>
<script>
    Dropzone.options.dropzoneForm = {
        clickable: false,
        maxFilesize:   10  , 
        init: function initDropzone() {
            console.log("initializing dropzone");
            this.on("complete", onUploadFinished);
        }
    };
</script>
{{template "footer" .}}