{{template "header" .}}
<div class="main">
<span id="saved" class="icons">✔</span>
<span id="notsaved" class="icons">❌</span>
<span id="connectedicon" class="icons">🔗</span>
<div class="fonty" id="rendered">
    <span class="fr"><a href="/{{.Domain}}">Back</a><br>
        {{ if or (.SignedIn) (eq .Domain "public")}}<a id='editlink'>Edit</a>{{end}}</span>
        

    {{.Rendered}}

    <p class="grayed smaller">
        Permalink: <a href="/{{.Domain}}/{{.File.ID}}" class="grayed">/{{.Domain}}/{{.File.ID}}</a><br>
        Last modified: {{.File.Modified.Format "Mon Jan 2 3:04pm 2006"}}<br>
    {{.File.Views}} views</p>
</div>
<form id="dropzoneForm" action="/upload?domain={{.Domain}}" class="dropzone">
<textarea class="fonty" id="editable" style="-webkit-user-select:text;display:none;" rows={{ .Rows }} autofocus>{{.File.Data}}</textarea>
</form>
</div>
<div id="snackbar">Write markdown, reload page when you are done!</div>

<script>
    window.rwtxt = {
        file_id: "{{.File.ID}}",
        intro_text: "{{.IntroText}}",
        domain_key: "{{.DomainKey}}",
        domain: "{{.Domain}}",
    }
</script>
<script src="/static/js/rwtxt.js"></script>

<script src="/static/js/dropzone.js"></script>
<script>
    Dropzone.options.dropzoneForm = {
        clickable: false,
        maxFilesize:   10  , 
        init: function initDropzone() {
            this.on("complete", onUploadFinished);
        }
    };
</script>
<script src="/static/js/prism.js"></script>
{{template "footer" .}}
